<div class="ui icon input">
{{input value=model.copy.identity placeholder="Identity"}}
</div>
<button class='ui success green button'{{action "save" model}}><i class="ui check icon"></i></button>
{{outlet}}