<div class="ui form">
  <label>Identité</label>
  <div class="ui input">
    {{input value=model.copy.identity placeholder="Identité"}}
  </div>

  <button class="ui button green" {{action "save" model}}>
    <i class="icon check circle"></i> Valider
  </button>
  <button class="ui button red" {{action "cancel"}}>
    <i class="icon remove circle"></i> Annuler
  </button>
</div>

{{outlet}}
