Confirmer la suppression de {{model.copy.identity}} ?

<button class='ui success green button'{{action "suppr" model}}>
	Yes
	<i class="ui check icon"></i>
</button>


<button class="ui icon circular red button"{{action "cancelDeletion"}}>
	No
	<i class="ui icon remove"></i>
</button>

{{outlet}} 