<div id="title" class="ui message">
  <i class="ui icon table big"></i>
  <div>
    <h2>Développeurs</h2>
    <h3>Administration de données</h3>
  </div>
</div>

{{#link-to "developers.new" class="ui button orange"}}
  Ajouter un développeur...
{{/link-to}}

<table class="ui table">
  <thead>
  <tr>
    <th class="nine wide">Identité</th>
    <th class="one wide">Actions</th>
  </tr>
  </thead>

  <tbody>
  {{#each model as |dev|}}
    <tr>
      <td>
        {{dev.identity}}
      </td>
      <td>
        {{#link-to "developers.edit" dev class="ui icon circular button"}}
          <i class="ui icon edit"></i>
        {{/link-to}}
        {{#link-to "developers.delete" dev class="ui icon circular button red"}}
          <i class="ui icon delete"></i>
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
