{{#link-to "developers.new" class="ui blue button"}}
	<i class="ui plus icon"></i>
Ajouter un developpeur...
{{/link-to}}
<ul>
	{{#each model as |dev|}}
	<li>{{dev.identity}} 


	  		{{#link-to "developers.edit" dev class="ui icon circular orange button"}}
				<i class="ui cog icon"></i>
			{{/link-to}}
			{{#link-to "developers.remove" dev class="ui icon circular red button"}}
				<i class="ui icon remove"></i>
			{{/link-to}}

	</li>
	{{/each}}
</ul>

{{outlet}}